<launch>

  <!--- Run serial communication node -->
  <node pkg="serial_comm" type="serial_comm" respawn="false" name="serial_comm" output="screen">
    <rosparam file="$(find serial_comm)/config/serial_comm_params.yaml" command="load" />
  </node>

  <!--- Run IMU node -->
  <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
    <rosparam file="$(find myahrs_driver)/config/myahrs_params.yaml" command="load" />
  </node>

</launch>
