# Eclipse files for arduino project
arduino_serial/core/
arduino_serial/libraries/
arduino_serial/Release/
arduino_serial/.settings/
arduino_serial/.cproject
arduino_serial/.project
arduino_serial/spec.d
arduino_ethernet/core/
arduino_ethernet/libraries/
arduino_ethernet/Release/
arduino_ethernet/.settings/
arduino_ethernet/.cproject
arduino_ethernet/.project
arduino_ethernet/spec.d

#Simulink generated ROS nodes
ROS/driftingcontroller_stabilization/
ROS/state_estimator_opt_driftingcar/

# Files
*.so

