# Eclipse files for arduino project
arduino_serial/core/
arduino_serial/libraries/
arduino_serial/Release/
arduino_serial/.settings/
arduino_serial/.cproject
arduino_serial/.project
arduino_ethernet/core/
arduino_ethernet/libraries/
arduino_ethernet/Release/
arduino_ethernet/.settings/
arduino_ethernet/.cproject
arduino_ethernet/.project

#Simulink generated ROS nodes
ROS/state_estimator_opt_driftingcar/
ROS/drifting_controller_stabilization_olcl/
ROS/AMPC_RC/
ROS/AMPC_RC2/
ROS/AMPC_RC3/
ROS/AMPC_RC4/
ROS/AMPC_RC5/

