<launch>

  <!--- Run drifting_controller -->
  <node pkg="drifting_controller" type="drifting_controller" respawn="false" name="drifting_controller" output="screen">
    <rosparam file="$(find drifting_controller)/config/drifting_controller_params.yaml" command="load"/>
  </node>

  <!--- Run serial_comm -->
  <node pkg="serial_comm" type="serial_comm" respawn="false" name="serial_comm" output="screen">
    <rosparam file="$(find serial_comm)/config/serial_comm_params.yaml" command="load" />
  </node>

  <!--- Run myahrs_driver -->
  <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
    <param name="port" value="/dev/ttyACM1" />
    <param name="baud_rate" value="115200" />
  </node>

</launch>
