<launch>

  <!--- Run serial_comm -->
  <node pkg="serial_comm" 
	type="serial_comm" 
	respawn="false" 
	name="serial_comm" 
	output="screen">
    <rosparam file="$(find serial_comm)/config/serial_comm_params.yaml" command="load" />
  </node>

  <!--- Run myahrs_driver -->
  <node pkg="myahrs_driver" 
	type="myahrs_driver" 
	name="myahrs_driver">
    <param name="port" value="/dev/ttyACM1" />
    <param name="baud_rate" value="115200" />
  </node>

<!-- Run drifting optitrack node -->
	<arg name="optitrack_config_file"
       default="$(find drifting_optitrack)/config/optitrack.yaml" />

  <node pkg="drifting_optitrack"
        type="optitrack_node"
        name="optitrack_node"
        respawn="false"
        launch-prefix=""
        required="true"
        output="screen">
    <rosparam file="$(arg optitrack_config_file)" command="load" />
  </node>

	<!-- Run state_estimator_opt_driftingcar node -->
  <node pkg="state_estimator_opt_driftingcar"
        type="state_estimator_opt_driftingcar_node"
        name="state_estimator_opt_driftingcar"
        respawn="false"
        launch-prefix=""
        required="true">
  </node>


  <!--- Run drifting_controller -->
  <node pkg="driftingcontroller_stabilization" 
	type="driftingcontroller_stabilization_node"
	name="drifting_controller" 
	respawn="false">
  </node>

</launch>
