<launch>

  <arg name="optitrack_config_file"
       default="$(find drifting_optitrack)/config/optitrack.yaml" />

  <node pkg="drifting_optitrack"
        type="optitrack_node"
        name="optitrack_node"
        respawn="false"
        launch-prefix=""
        required="true"
        output="screen">
    <rosparam file="$(arg optitrack_config_file)" command="load" />
  </node>
</launch>
